# variables

In [1]:
var1= "hello " #str
var2= 5 #int
var3= 34.9 # float
print(var1)

hello

In [4]:
var1= "hello " 
var2= 5 
var3= 34.9 
print(type(var1))
print(type(var3))

<class 'str'>
<class 'float'>

In [5]:
var1= "hello " 
var2= 5 
var3= 34.9 
print(var2+var3)

39.9

In [7]:
var1= "hello " 
var2= 5 
var3= 34.9 
var4="world "
var5="56"
print(var1+var4+var5)

hello world 56

# typecasting

In [11]:
var1= "hello " 
var2= 5 
var3= 34.9 
var4="world "
var5="56"
var6="45"
print(int(var5)+int(var6))

101

In [15]:
print(10* "hello world \n")

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [16]:
print(float(var5)+float(var6))

101.0

In [17]:
print(str(var2)+str(var3))

534.9

In [21]:
print(100 * str (int(var5 )+ int(var6 ))) #int change str (mul)(vari use)

101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101101

# user input

In [23]:
print("enter your num:- ")
num=input()
print("you entered",int(num)+3 )

enter your num:-
45
you entered 48

In [24]:
print("enter 1 num :-")
n1=input()
print("enter 2 num:-")
n2=input()
print("sum of these num",int(n1)+int(n2))

enter 1 num :-
56
enter 2 num:-
34
sum of these num 90

In [25]:
a=int(input("enter the 1 num :-"))
b=int(input("enter the 2 num :-"))
print("subtract of these num",a-b)

enter the 1 num :-667
enter the 2 num :-90
subtract of these num 577